body {
    font-family: 'Raleway', sans-serif;
    background-color: black;
}


header {
    height: 73px;
    text-align: center; 
    overflow: hidden;
}

header h1 {
    color: white;
    font-size: 50px;
    font-weight: 500;
    margin: 11.5px;
    font-family: 'Raleway', sans-serif;
}

#contenedor_slider {
    height: 727px;
    background-image: url(../img/bg-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.contenedor_info {

    color: white;
    text-align: center;
    padding-left: 150px;
    overflow: hidden;

}
.texto_contenedor1 {
    
    color: white;
    font-weight: lighter;
    float: left;
    text-align: left;
    width: 40%;
    padding: 40px;
}
.foto_contenedorinfo {
    width: 399px;
    height: 237px;
    padding: 40px;
    float: left;
    padding-left: 300px;
}
.contenedor_caracteristicas {
    background-color: #1E1A13;
    height: 348px;
    padding: 75px;
}
h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    font-weight: 500;
    color: white;
    text-align: center;
    padding-bottom: 100px;
}
.fa-solid { 
    font-size: 55px;
}
.fa-brands {
    font-size: 55px;
}
.caracteristica {
    font-weight: lighter;
    width: 28%;
    height: 60%;
    padding:40px;
    display: inline-block;
    color: white;
    text-align: center;
    font-size: 30px;
    line-height: 60px;

}
.contenedor_imagenes {
    text-align: center;
    height: 348px;
}
.imagenes {
    height: 202px;
    padding: 9px;
    padding-top: 50px;
}
footer {
    background-color: #1E1A13;
    height: 102px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: white;
    padding-top: 80px;
    font-size: 20px;
}
